@tailwind base;
@tailwind components;
@tailwind utilities;

.lobby-view {
  padding: 0;
}

body,
html,
#app {
  @apply w-full h-full;
}
.tooltip {
  @apply invisible absolute;
}
.has-tooltip {
  position: relative;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}

.button {
  @apply bg-green-500 text-white ring-1 ring-green-300 rounded-sm p-2 shadow-md;
}

html {
  font-size: 16px;
}
